<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <img [src]="cheminLogo" alt="logo" style="height: 100px;">
  <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
          data-target="#navbarSupportedContent" data-toggle="collapse" type="button">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link text-dark" href="#"><i aria-hidden="true" class="fa fa-home"></i>Accueil</a>
      </li>
      <li class="nav-item dropdown">
        <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle text-dark" data-toggle="dropdown" href="#"
           id="navbarDropdown" role="button"><i class="far fa-file-alt"></i>
          Fiches
        </a>
        <div aria-labelledby="navbarDropdown" class="dropdown-menu">
          <a [routerLink]="['/allCompanySheet']" class="dropdown-item">Fiches entreprises</a>
        </div>
      </li>
      <li class="nav-item">
        <a [routerLink]="['/forum']" class="nav-link text-dark"><i class="fas fa-globe-africa"></i> Forum</a>
      </li>
      <li *ngIf="!isUserLoggedIn" class="nav-item">
        <a [routerLink]="['/connexion']" class="nav-link text-dark"> Se Connecter </a>
      </li>
      <li *ngIf="isUserLoggedIn" class="nav-item dropdown">
        <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle text-dark" data-toggle="dropdown" href="#"
           id="navbarDropdownProfile" role="button"><i class="fas fa-user"></i>
          {{userName}}
        </a>
        <div aria-labelledby="navbarDropdown" class="dropdown-menu">
          <a [routerLink]="['/user-profile']" class="dropdown-item">Mon profil</a>
          <a class="dropdown-item" (click)="goLogout()" type = "button" [routerLink]="['/home']"> Se déconnecter </a>
        </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input aria-label="Search" class="form-control mr-sm-2" placeholder="rechercher un sujet" #searchBox id="search-box" (input)="search(searchBox.value)">
      <ul class="bg-white">
        <li *ngFor="let subjectSearch of baseResVO$ | async" >
          <a routerLink="/forum/{{subjectSearch.id}}" class="text-dark">
            {{subjectSearch.title}}
          </a>
        </li>
      </ul>
    </form>
  </div>
</nav>
