<div class="container p-4">
  <hr>
  <h1  class="text-center  ">FORUM</h1>
  <hr>
  <button [routerLink]="['/forumNew']" type="button" class="btn btn-outline-success pull-right">+ Nouveau sujet</button>
  <br><br>
  <div class="row">
    <div class="col-md-12">
      <div class="card mb-2" *ngFor="let forumSubject of forumSubjects|paginate: {id:'propertie', itemsPerPage: 5, currentPage: p }">
        <div class="card-body">
          <h3 class="card-title">{{forumSubject.title}}</h3>
          <h4 class="card-subtitle mb-2 text-muted">Auteur : {{forumSubject.authorId}} </h4>
          <h4 class="card-subtitle mb-2 text-muted">{{forumSubject.text}} </h4>
          <span>Date de publication : {{forumSubject.datePost | date: 'yyyy-MM-dd'}}</span>
          <br>
          <button class="btn btn-primary mt-3" type="button" [routerLink]="['/forumDetails']" [queryParams]="{id:forumSubject.id}" >Plus de détails</button>
        </div>
      </div>
    </div>
  </div>
  <br>
  <hr>
  <div class="col-md-12">
    <mat-chip-list>
      <mat-chip>ERP</mat-chip>
      <mat-chip>Conseils</mat-chip>
      <mat-chip color="primary" selected>B.I</mat-chip>
      <mat-chip color="accent" selected>Réseaux Informatiques</mat-chip>
    </mat-chip-list>
  </div>
  <hr>
  <div class="row mt-4">
    <pagination-controls id="propertie" (pageChange)="p=$event"></pagination-controls>
  </div>
</div>