<div class="container mt-5">
   <div class="row gx-5" *ngIf=enterprise>

       <div class="col" >
          <div class="p-3 border bg-light">
            <h4>Nom de l'Entreprise : </h4> {{enterprise.nameEnterprise}}
            <h4>Groupe : </h4> {{enterprise.groupAffiliated}}
            <h4>Secteur d'activité: </h4> {{enterprise.sectorActivity}}
            <h4>Région: </h4> {{enterprise.region}}
            <h4>Chiffre d'affaires: </h4> {{enterprise.turnOver}}
            <h4>E-mail: </h4> {{enterprise.email}}

          </div>
       </div>

       <div class="col">
          <div class="p-3 border bg-light">
            <h4>Description : </h4> {{enterprise.description}}
          </div>
       </div>

   </div>
</div>
