/* Général ------------------------------------------------------------------------------------- */
body, p, legend, label, input {
  font: normal 18pt verdana, helvetica, sans-serif;
}

fieldset {
  padding: 12px;
  border: 4px black solid;
}

legend {
  font-weight: bold;
  color: black;
}

/* Forms --------------------------------------------------------------------------------------- */
#text {
  height: 800px;
}

button {
  margin: 15px 15px 0px 0px;
  width: 300px;
}

.example-chip-list {
  width: 100%;
}
