<div class="container mt-5 mb-4">
  <div *ngIf=forumSubject class="row gx-5">

    <fieldset>
      <u>
        <h2>{{forumSubject.title}}</h2>
      </u>
      <label class="auteur" for="start"> {{forumSubject.authorId}} </label>
      <label class="date">{{forumSubject.datePost| date: 'yyyy-MM-dd'}}</label>
      <br><br>
      <h2>{{forumSubject.text}}</h2>
      <div *ngFor="let comment of forumComment" class="container mt-5">
        <div class="row gx-6">
          <div class="col">
            <div class="p-3 border bg-light">
              <!--< label>{{comment.author_id}} </label> -->
              <label>{{comment.text}} </label>
              <label class="date">{{comment.dateComment| date: 'yyyy-MM-dd'}}</label>
              
              <button (click)="deleteComment(comment.id)">Supprimer</button>
            </div>
          </div>
        </div>
      </div>
      <br>
      <div class="form-group col-10">
        <h3>Ajouter un Commentaire</h3>
      </div>
      <form (ngSubmit)="addComment()" [formGroup]="newCommentForm">
        <div class="form-floating">
          <textarea class="form-control" formControlName="text" id="text"  placeholder="Description" id="floatingTextarea"></textarea>
        </div>
        <div class="row" >
          <div class="col-md-1 pull-right">
            <button type="submit" [disabled]="!newCommentForm.valid" class="btn btn-warning" [queryParams]="{id:forumSubject.id}">Add Comment</button>
          </div>
        </div>
    </form>
     
    </fieldset>
  </div>
</div>