<div class="container mt-5 mb-4">
  <div *ngIf=forumSubject class="row gx-5">

    <fieldset>
      <u>
        <h2>{{forumSubject.title}}</h2>
      </u>
      <label class="auteur" for="start"> {{forumSubject.authorId}} </label>
      <label class="date">{{forumSubject.datePost| date: 'yyyy-MM-dd'}}</label>
      <br><br>
      <p>Les documents retenus le sont toujours dans leur intégralité ,
        du premier mot jusqu'au dernier . «Tout le texte, rien que le
        texte D . Des raisons exceptionnelles (comme la nature d'une documentation donnée) nous font adopter une
        attitude différente .
        <br>
      </p>
      <div *ngFor="let Comment of forumComment" class="container mt-5">
        <div class="row gx-6">
          <div class="col">
            <div class="p-3 border bg-light">
              <label>{{Comment.author_id}} </label>
              <label>{{Comment.text}} </label>
              <label class="date">{{Comment.dateComment| date: 'yyyy-MM-dd'}}</label>
            </div>
          </div>
        </div>
      </div>
      <br>
      <div class="form-group col-10">
        <h3>Ajouter un Commentaire</h3>
      </div>
      <div class="form-floating">
        <textarea class="form-control" placeholder="Description" id="floatingTextarea"></textarea>
      </div>
    </fieldset>
  </div>
</div>