h1 {
    color: #31968e;
    font-size: 40px;
}

ul{
    font-family: "Arial Black, Gadget, sans-serif";
    font-size: 18px ;
    text-transform: uppercase;
}

.input-group-append{
    color:  #31968e;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color:  #31968e;
}

.btn-outline-success, .btn-outline-success:hover, .btn-outline-success:active, .btn-outline-success:visited{
    background-color:  #31968e;
}