<br>
<h1 align="center">
  <span class="badge rounded-pill btn-lg">Liste Des Entreprises Classées en Ordre Alphabétiques</span>
</h1>
<br><br>
<ul class="list-group list-group-flush">
  <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let entreprise of entreprises">
    {{entreprise.nameEnterprise}}
    <button type="button" class="btn btn-outline-success" [routerLink]="['/companySheet']"
      [queryParams]="{uid:entreprise.uid}">A propos</button>
  </li>
</ul>