<div class="container mt-5">
  <div class="row">
    <div class="col-12">
      <form [formGroup]="inscriptionsForm">
        <h1 class="text-info text-center">Créer votre compte personnel</h1>
        <div class="row mt-5">
          <div class="col-8">
            <div class="row">
		          <div class="col-8">
                	<input class="form-control" formControlName="email" id="email" placeholder="mail@serveur.com" type="email">
		          </div>
            </div>
            <div class="row mt-3">
              <div class="col">
                <input class="form-control" formControlName="nameEnterprise" id="nameEnterprise" placeholder="Nom de l'entreprise" type="text">
              </div>
            </div>
            <div class="row mt-3">
              <div class="col">
                <input class="form-control" formControlName="password" id="password" placeholder="Mot de passe"
                       	type="password">
              </div>
            </div>
            <div class="row mt-3">
              <div class="col">
                <input class="form-control" formControlName="pswConfirm" id="pswConfirm" placeholder="Confirmez votre mot de passe" type="password" oncopy="return 			false" onpaste="return false" oncut="return false">
              </div>
            </div>
            <div class="row mt-3">
            	<div class="col">
                	<Textarea class="form-control" formControlName="description" id="description" placeholder="Description" type="text" rows="6"> </Textarea> 
              </div>
            </div>
            <div class="row mt-3">
              <div class="col">
                <input class="form-check-input" id="gridCheck1" type="checkbox">
                <label class="form-check-label" for="gridCheck1">
                    Vous reconnaissez avoir lu et accepté nos <a href="https://documentcloud.adobe.com/link/track?uri=urn:aaid:scds:US:e017d371-0ed4-473c-a814-d90278ed17d2#pageNum=1">
                    Conditions générales d'utilisation.</a>
                </label>
              </div>
            </div>

              <!-- Permet d'utiliser le contrôle des formulaires pour 
                la validation -->                
              <div class="g-recaptcha" 
                data-sitekey="6LdlZkgaAAAAAIyuPYvxltA8hGoGN5nFx4ztgdOw">
              </div> 

              <!-- Clé secrète pour la communication entre le site et le service
                 reCaptcha (back-end) " 6LdlZkgaAAAAAFwGf-jEe--9-iU-v5Eknp-HLIn9 " 
                -->

            <div class="row mt-1">
              <div class="col text-center mt-5">
                <button (click)="addEnterprise()" [disabled]="!	inscriptionsForm.valid" class="btn btn-info btn-lg"
                  	type="submit">Créer ma fiche entreprise
                </button>
              </div>
            </div>
          </div>
          
          <div class="row-2">
            <div class="form-group col-12">
              <div class="row mt-5">
                <div class="col">
                  <input class="form-control" formControlName="siret" id="siret"
                         required placeholder="N° Siret" type="text">
                </div>
              </div>
              <div class="row mt-3">
                <div class="col">
                  <input class="form-control" formControlName="turnOver" id="turnOver"
                         required placeholder="Chiffre d'affaires" type="text">
                </div>
              </div>
              <div class="row mt-3">
                <div class="col">
                   <input class="form-control" formControlName="groupAffiliated" id="groupAffiliated"
                   	placeholder="Groupe" type="text">
                </div>
             </div>
              <div class="row mt-3">
                <div class="col">
                  <label for="Secteur">Secteur</label>
                  <select class="form-control" formControlName="sectorActivity" id="sectorActivity">
                    <option value="ERPs">ERPs</option>
                    <option value="B.I">B.I</option>
                    <option value="Conseils">Conseils</option>
                    <option value="Réseaux informatiques">Informatique</option>
                    <option value="Autres">...</option>
                  </select> 
                </div>
              </div>
              <div class="row mt-3">
                <div class="col">
                    <label for="Je suis">Ma région</label>
                    <select class="form-control" formControlName="region" id="region">
                          <option value="Auvergne-Rhône-Alpes">Auvergne-Rhône-Alpes</option>
                          <option value="Bourgogne-Franche-Comté">Bourgogne-Franche-Comté</option>
                          <option value="Bretagne">Bretagne</option>
                          <option value="Centre-Val-De-Loire">Centre-Val-De-Loire</option>
                          <option value="Corse">Corse</option>
                          <option value="Grand-Est">Grand-Est</option>
                          <option value="Hauts-De-France">Hauts-De-France</option>
                          <option value="Iles-De-France">Iles-De-France</option>
                          <option value="Nouvelle-Aquitaine">Nouvelle-Aquitaine</option>
                          <option value="Occitanie">Occitanie</option>
                          <option value="Pays-De-La-Loire">Pays-De-La-Loire</option>
                          <option value="Provence-Alpes-Côtes d'Azur">Provence-Alpes-Côtes d'Azur</option>
                    </select>
                </div>
              </div> 
            </div>
          </div>    
        </div>
      </form>
    </div>
  </div>
</div>
        
         <!--<h1 class="shadow-sm text-info text-center">Créer votre compte entreprise</h1>
        <div *ngIf="paraDangerShow">
          <div *ngFor="let item of errorMessage" class="alert alert-danger">
            {{item}}
          </div>
        </div>

        <div *ngIf="loginWarningShow&&!paraDangerShow">
          <div *ngFor="let item of errorMessage" class="alert alert-warning">
            {{item}}<a href="add link to login here"> Cliquez pour se connecter</a>
          </div>
        </div> -->

       
       
        
       