<div>
  <br><br>
  <div class="row justify-content-center">
    <div class="col-8">

      <div class="row">
        <h1>Conditions générales d'utilisation</h1>
      </div>

      <div class="row">
        <div style="text-align: left">
          Bienvenue!
          ipsum dolor sit amet. Sed architecto perferendis vel quos magnam sit excepturi exercitationem ad asperiores
          enim et iusto asperiores sit enim consequatur vel facere dolores. Hic iusto voluptatem vel nulla maiores eos
          totam necessitatibus et dicta nihil est veritatis doloribus quam unde qui earum accusamus. Non porro quos et
          quis explicabo qui molestiae odio id quia dolorem 33 soluta quis aut sint odio. Sit possimus delectus qui
          corrupti consequatur qui quis harum ut animi itaque ut quaerat adipisci. Vel eveniet quasi ut quia praesentium
          vel pariatur suscipit sit officia vero est nulla amet et sunt cupiditate. Qui adipisci soluta sed voluptates
          ullam ab maiores omnis et neque eius in assumenda sapiente. Et reiciendis ipsum et consequatur quia et unde
          quia ea voluptatem dolores rem galisum voluptatum. Est iste rerum et quam recusandae cum incidunt laudantium
          et nisi odit. Est sunt praesentium 33 omnis eveniet et tempore quod.
          Lorem ipsum dolor sit amet. Sed architecto perferendis vel quos magnam sit excepturi exercitationem ad
          asperiores enim et iusto asperiores sit enim consequatur vel facere dolores. Hic iusto voluptatem vel nulla
          maiores eos totam necessitatibus et dicta nihil est veritatis doloribus quam unde qui earum accusamus. Non
          porro quos et quis explicabo qui molestiae odio id quia dolorem 33 soluta quis aut sint odio. Sit possimus
          delectus qui corrupti consequatur qui quis harum ut animi itaque ut quaerat adipisci. Vel eveniet quasi ut
          quia praesentium vel pariatur suscipit sit officia vero est nulla amet et sunt cupiditate. Qui adipisci soluta
          sed voluptates ullam ab maiores omnis et neque eius in assumenda sapiente. Et reiciendis ipsum et consequatur
          quia et unde quia ea voluptatem dolores rem galisum voluptatum. Est iste rerum et quam recusandae cum incidunt
          laudantium et nisi odit. Est sunt praesentium 33 omnis eveniet et tempore quod.
          Lorem ipsum dolor sit amet. Sed architecto perferendis vel quos magnam sit excepturi exercitationem ad
          asperiores enim et iusto asperiores sit enim consequatur vel facere dolores. Hic iusto voluptatem vel nulla
          maiores eos totam necessitatibus et dicta nihil est veritatis doloribus quam unde qui earum accusamus. Non
          porro quos et quis explicabo qui molestiae odio id quia dolorem 33 soluta quis aut sint odio. Sit possimus
          delectus qui corrupti consequatur qui quis harum ut animi itaque ut quaerat adipisci. Vel eveniet quasi ut
          quia praesentium vel pariatur suscipit sit officia vero est nulla amet et sunt cupiditate. Qui adipisci soluta
          sed voluptates ullam ab maiores omnis et neque eius in assumenda sapiente. Et reiciendis ipsum et consequatur
          quia et unde quia ea voluptatem dolores rem galisum voluptatum. Est iste rerum et quam recusandae cum incidunt
          laudantium et nisi odit. Est sunt praesentium 33 omnis eveniet et tempore quod.
        </div>
      </div>

    </div>
  </div>
</div>

