<div class="container mt-5">
  <div class="row align-items-start custom-line">
    <div class="col-7">
      <h1>Bienvenue sur la première plateforme à destination des acteurs de l'informatique français !</h1>
      <div class="row">
        <p> Notre plateforme web a pour objectif de répertorier le plus grand nombre d'acteurs de l'informatique en
          France : les entreprises de l'informatique, les travailleurs indépendants les étudiants et toute personne
          s'intéressant de près ou de loin à ce beau domaine.
          Commencez par créer votre compte personnel ou votre compte entreprise :)
        </p>
      </div>
    </div>
    <div class="col-5">
      <img alt="..." class="card-img-top" src="https://mdbootstrap.com/img/new/standard/nature/182.jpg"/>
    </div>
  </div>
</div>
